<router-outlet></router-outlet>
<div class="tabla-container" [hidden]="isChildren()">
  <p-table
    #dt
    [value]="dataTable"
    [paginator]="true"
    [rowHover]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    styleClass="p-datatable-gridlines p-datatable-sm"
    [loading]="loading"
    [globalFilterFields]="['patientId', 'names', 'lastName']"
    [scrollable]="true"
    scrollHeight="flex"
  >
    <ng-template pTemplate="caption">
      <h3>List of Patients</h3>
      <div class="flex">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            #textInput
            type="text"
            (input)="dt.filterGlobal(applyFilterGlobal($event), 'contains')"
            placeholder="Search keyword"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="patientId">
          Id <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="names">
          Names <p-sortIcon field="names"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName">
          LastName <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
      <tr>
        <td>{{ element.patientId }}</td>
        <td>{{ element.names }}</td>
        <td>{{ element.lastName }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            title="Update"
            class="p-button-rounded p-button-help p-button-text p-button-sm button-custom"
            [routerLink]="['edit', element.patientId]"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            title="Delete"
            class="p-button-rounded p-button-danger p-button-text p-button-sm button-custom"
            (click)="deletePatient(element.patientId)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td>No records found</td>
      </tr>
    </ng-template>
  </p-table>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-plus"
    class="p-button-rounded p-button-help button-custom button-add"
    routerLink="/patients/new"
  ></button>
</div>
<p-messages
  [(value)]="msgs"
  [enableService]="false"
  *ngIf="msgs != []"
></p-messages>
