.p-paginator .p-paginator-current {
  margin-left: auto !important;
}

.tabla-container {
  margin: 1px;
  border-radius: 2px;
}

.button-custom{
  margin: 0px 10px;
}

.button-add{
  float: right;
}
