<router-outlet></router-outlet>
<p-table
  #dt
  [value]="data"
  [columns]="cols"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  responsiveLayout="scroll"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [loading]="loading"
  styleClass="p-datatable-gridlines"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="caption">
    <h3>List of Specialties</h3>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        (input)="dt.filterGlobal(applyFilterGlobal($event), 'contains')"
        placeholder="Search keyword"
      />
    </span>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        [pSortableColumn]="col.field"
        [pSortableColumnDisabled]="col.field === 'actions'"
      >
        {{ col.header }}
        <ng-container *ngIf="col.field !== 'actions'">
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </ng-container>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.field !== 'actions'; else action">
          {{ rowData[col.field] }}
        </ng-container>
        <ng-template #action>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            title="Update"
            class="p-button-rounded p-button-help p-button-text p-button-sm"
            [routerLink]="['edit', rowData.specialtyId]"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            title="Delete"
            class="p-button-rounded p-button-danger p-button-text p-button-sm"
            (click)="deleteSpecialty(rowData.specialtyId)"
          ></button>
        </ng-template>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">No Specialities found.</td>
    </tr>
  </ng-template>
</p-table>
<button
  pButton
  pRipple
  type="button"
  icon="pi pi-plus"
  class="p-button-rounded p-button-help button-add"
  routerLink="new"
></button>
<p-toast></p-toast>
