<div class="tabla-container">
  <p-table
    #dt
    [value]="dataTable"
    [paginator]="true"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    styleClass="p-datatable-gridlines p-datatable-sm"
    [loading]="loading"
    [globalFilterFields]="['patientId', 'names', 'lastName', 'cmp']"
    [scrollable]="true"
    scrollHeight="flex"
  >
    <ng-template pTemplate="caption">
      <h3>List of Doctor</h3>
      <div class="flex">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            #textInput
            type="text"
            (input)="dt.filterGlobal(applyFilterGlobal($event), 'contains')"
            placeholder="Search keyword"
          />
          <!--(input)="dt.filterGlobal($event.target.value, 'contains')"-->
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="doctorId">
          Id <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="names">
          Names <p-sortIcon field="names"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName">
          LastName <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="cmp">CMP <p-sortIcon field="cmp"></p-sortIcon></th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
      <tr>
        <td>{{ element.doctorId }}</td>
        <td>{{ element.names }}</td>
        <td>{{ element.lastName }}</td>
        <td>{{ element.cmp }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            title="Update"
            class="p-button-rounded p-button-help p-button-text p-button-sm"
            (click)="showDialog(element)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            title="Delete"
            class="p-button-rounded p-button-danger p-button-text p-button-sm"
            (click)="deleteDoctor(element.doctorId)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td>No records found</td>
      </tr>
    </ng-template>
  </p-table>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-plus"
    class="p-button-rounded p-button-help button-add"
    (click)="showDialog()"
  ></button>
</div>
<p-dialog
  header="{{ title }}"
  [(visible)]="displayModal"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <app-dialog-doctor
    [doctor]="doctor"
    (emisor)="cancelModalDoctor($event)"
  ></app-dialog-doctor>
</p-dialog>
<p-toast></p-toast>
