<div style="padding: 3px">
  <h2 class="p-component p-h2">Register Consultation</h2>
  <p-divider></p-divider>
  <div class="input-box">
    <div class="custom-input">
      <span class="p-float-label">
        <p-dropdown
          inputId="doctor"
          [autoDisplayFirst]="false"
          [options]="doctors"
          [(ngModel)]="doctorWrapper"
          (ngModelChange)="onDoctorChange()"
          optionLabel="fullName"
        ></p-dropdown>
        <label for="doctor">Doctor</label>
      </span>
    </div>
    <div class="custom-input">
      <span class="p-float-label">
        <p-dropdown
          inputId="patient"
          [autoDisplayFirst]="false"
          [options]="patients"
          [(ngModel)]="patientWrapper"
          (ngModelChange)="onPatientChange()"
          optionLabel="fullName"
        ></p-dropdown>
        <label for="patient">Patient</label>
      </span>
    </div>
    <div class="custom-input">
      <span class="p-float-label">
        <p-dropdown
          inputId="specialty"
          [autoDisplayFirst]="false"
          [options]="specialties"
          [(ngModel)]="specialty"
          optionLabel="name"
        ></p-dropdown>
        <label for="specialty">Specialty</label>
      </span>
    </div>
    <div class="custom-input">
      <span class="p-float-label">
        <p-dropdown
          inputId="consultory"
          [autoDisplayFirst]="false"
          [options]="consultories"
          [(ngModel)]="consultory"
        ></p-dropdown>
        <label for="consultory">Consultory</label>
      </span>
    </div>
    <div class="custom-input">
      <span class="p-float-label">
        <input
          class="p-input"
          id="float-input"
          [(ngModel)]="diagnosis"
          type="text"
          pInputText
        />
        <label for="float-input">Diagnosis</label>
      </span>
    </div>
    <div class="custom-input">
      <span class="p-float-label">
        <input
          class="p-input"
          id="float-input"
          [(ngModel)]="treatment"
          type="text"
          pInputText
        />
        <label for="float-input">Treatment</label>
      </span>
    </div>
    <div class="custom-input">
      <button
        pButton
        pRipple
        type="button"
        label="Add Detail"
        class="p-button-rounded p-input"
        (click)="registerDetail()"
      ></button>
    </div>
    <div class="custom-input" *ngFor="let detail of detailConsultations; let i = index">
      <p-panel [toggleable]="true" [collapsed]=" true">
        <ng-template pTemplate="header"> {{i+1}} {{detail.diagnosis}} </ng-template>
        <ng-template pTemplate="content"> {{detail.treatment}}
          <div style="margin-top: 15px;">
            <button pButton pRipple type="button" label="Remove" class="p-button-rounded p-button-danger" (click)="removeDetail(i)"></button>
          </div>
        </ng-template>
      </p-panel>
    </div>
    <div class="custom-input">
      <span class="p-float-label">
        <p-dropdown
          inputId="exam"
          [autoDisplayFirst]="false"
          [options]="exams"
          [(ngModel)]="exam"
          optionLabel="name"
        ></p-dropdown>
        <label for="exam">Exam</label>
      </span>
    </div>
    <div class="custom-input">
      <button
        pButton
        pRipple
        type="button"
        label="Add Exam"
        class="p-button-rounded p-input"
        (click)="registerExam()"
      ></button>
    </div>
    <div *ngFor="let exam of examsSelects; let i = index">
      <p-panel [toggleable]="true" [collapsed]=" true" header="{{i+1}} {{exam.name}}">
        <button pButton pRipple type="button" label="Remove" class="p-button-rounded p-button-danger" (click)="removeExam(i)"></button>
      </p-panel>
    </div>
    <div class="custom-input">
      <span class="p-float-label p-input">
        <p-calendar class="p-input" [minDate]="minDate" inputId="calendar" dateFormat="dd/mm/yy" [(ngModel)]="date"></p-calendar>
        <label for="calendar">Calendar</label>
      </span>
    </div>
    <div class="custom-input">
      <button
        pButton
        pRipple
        type="button"
        label="Register"
        class="p-button-rounded p-input"
        (click)="operate()"
      ></button>
    </div>
  </div>

</div>
