.p-h2 {
  width: 100% !important;
  padding: 5px;
  color: #495057;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.2rem;
  font-weight: bold;
}

.input-box {
  padding: 0px 20% !important;
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}

.custom-input {
  width: 100%;
  padding: 15px 1px;
}

.p-input {
  border: 0px 10px;
  width: 100%;
}

