<div class="p-input-custom">
  <span class="p-float-label">
    <input
      id="float-input"
      type="text"
      pInputText
      required="true"
      minlength="3"
      maxlength="70"
      class="p-inputtext-sm"
      [(ngModel)]="doctor.names"
    />
    <label for="float-input">Names</label>
  </span>
</div>
<div class="p-input-custom">
  <span class="p-float-label">
    <input
      id="float-input"
      type="text"
      pInputText
      required="true"
      minlength="3"
      maxlength="70"
      class="p-inputtext-sm"
      [(ngModel)]="doctor.lastName"
    />
    <label for="float-input">Lastname</label>
  </span>
</div>
<div class="p-input-custom" *ngIf="doctor.doctorId == 0">
  <span class="p-float-label">
    <input
      id="float-input"
      type="text"
      pInputText
      required="true"
      class="p-inputtext-sm"
      [(ngModel)]="doctor.cmp"
    />
    <label for="float-input">CMP</label>
  </span>
</div>
<div class="p-input-custom">
  <span class="p-float-label">
    <input
      id="float-input"
      type="text"
      pInputText
      required="true"
      class="p-inputtext-sm"
      [(ngModel)]="doctor.urlPhoto"
    />
    <label for="float-input">Url Photo</label>
  </span>
</div>
<div class="p-input-custom" *ngIf="doctor.urlPhoto != ''">
  <p-image
    src="{{ doctor.urlPhoto }}"
    style="display: block; margin: 0px auto"
    alt="Image"
    width="250"
    *ngIf="doctor.urlPhoto != null"
  ></p-image>
</div>
<div class="p-input-c">
  <button
    pButton
    pRipple
    type="button"
    label="Accept"
    (click)="operation()"
    styleClass="p-button-sm"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    label="Cancel"
    (click)="cancel()"
    styleClass="p-button-sm"
    class="p-button-danger"
  ></button>
</div>
