.p-input-custom {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.p-input-c {
  display: block;
  /*flex-direction: column;*/
  padding: 20px 30px;
}

button {
  width: 45%;
  margin: 10px;
}

input {
  width: 100%;
}
