<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button type="button" class="mr-2"
      (click)="visibleSidebar = true" icon="pi pi-bars">
    </p-button>
    <h1 style="color: #495057; font-size: 1.5rem;">MEDIAPP</h1>
  </div>
  <div class="p-toolbar-group-center">
  </div>
  <div class="p-toolbar-group-end">
    <button type="button" pButton icon="pi pi-ellipsis-v"
      (click)="menu.toggle($event)">
    </button>
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
  </div>
</p-toolbar>

<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
  <img class="img-logo" src="assets/mitocode.png" width="150"
   style="margin-left: 60px"
  >
  <button pButton type="button" label="Buscar"
    icon="pi pi-search" iconPos="left" routerLink="/buscar"
    class="p-button-secondary p-button-text p-button-p">
  </button>
  <button pButton type="button" label="Register Consultation"
   icon="pi pi-file" iconPos="left" routerLink="/register"
   class="p-button-secondary p-button-text p-button-p">
  </button>
  <button pButton type="button" label="Registrar E."
   icon="pi pi-file" iconPos="left" routerLink="/registrar-especial"
   class="p-button-secondary p-button-text p-button-p ">
  </button>
  <button pButton type="button" label="Registrar W."
    icon="pi pi-map" iconPos="left" routerLink="/registrar-widget"
    class="p-button-secondary p-button-text p-button-p">
  </button>
  <button pButton type="button" label="Specialties"
   icon="pi pi-star" iconPos="left" routerLink="/specialties"
   class="p-button-secondary p-button-text p-button-p">
  </button>
  <button pButton type="button" label="Doctors"
   icon="pi pi-heart" iconPos="left" routerLink="/doctors"
   class="p-button-secondary p-button-text p-button-p">
  </button>
  <button pButton type="button" label="Exams"
   icon="pi pi-plus-circle" iconPos="left" routerLink="/exams"
   class="p-button-secondary p-button-text p-button-p">
  </button>
  <button pButton type="button" label="Patients"
   icon="pi pi-pencil" iconPos="left" routerLink="/patients"
   class="p-button-secondary p-button-text p-button-p"></button>
  <button pButton type="button" label="Reportes"
   icon="pi pi-chart-bar" iconPos="left" routerLink="/reportes"
   class="p-button-secondary p-button-text p-button-p">
  </button>
</p-sidebar>
<router-outlet></router-outlet>
