<div class="contain-form">
  <form class="example-container" [formGroup]="form" #frmPatient="ngForm" (ngSubmit)="operate()">
    <div class="p-input-custom" [hidden]="true">
      <span class="p-float-label" [hidden]="true">
        <input id="float-input" [hidden]="true" type="text" pInputText required="true" class="p-inputtext-sm" formControlName="patientId" >
        <label [hidden]="true" for="float-input">ID</label>
      </span>
    </div>
    <div class="p-input-custom">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText required="true" minlength="3" maxlength="70"
          class="p-inputtext-sm" formControlName="names">
        <label for="float-input">Names</label>
      </span>
    </div>
    <div class="p-input-custom">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText required="true" minlength="3" maxlength="70"
         class="p-inputtext-sm" formControlName="lastName">
        <label for="float-input">Lastname</label>
      </span>
    </div>
    <div class="p-input-custom">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText required="true" minlength="6" maxlength="12" class="p-inputtext-sm" formControlName="dni">
        <label for="float-input">DNI</label>
      </span>
    </div>
    <div class="p-input-custom">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText required="true" class="p-inputtext-sm" formControlName="address">
        <label for="float-input">Address</label>
      </span>
    </div>
    <div class="p-input-custom">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText required="true" class="p-inputtext-sm" formControlName="phone" pKeyFilter="num">
        <label for="float-input">Phone</label>
      </span>
    </div>
    <div class="p-input-custom">
      <span class="p-float-label">
        <input id="float-input" type="email" pInputText required="true" class="p-inputtext-sm" formControlName="email">
        <label for="float-input">Email</label>
      </span>
    </div>
    <div class="p-input-custom">
      <button pButton pRipple type="submit" label="Accept"
        [disabled]="frmPatient.invalid">
      </button>
    </div>
    <div class="p-input-custom">
      <button pButton pRipple type="button" label="Cancel"
        routerLink="/patients" class="p-button-danger">
      </button>
    </div>
  </form>
</div>
