.example-container {
  display: flex !important;
  flex-direction: column;
  padding: 20px 30px;
}

.example-container>* {
  width: 100%;
}

.invalid{
  color: red;
}

.p-input-custom {
  display: flex;
  flex-direction: column;
  padding: 12px 10px;
}

.specialtyForm{
  padding: 0px 25%
}

button{
  width: 100%;
}

input{
  width: 100%;
}

