<form
  class="example-container"
  [formGroup]="form"
  #frmExam="ngForm"
  (ngSubmit)="operate()"
>
  <div class="p-input-custom" [hidden]="true">
    <span class="p-float-label" [hidden]="true">
      <input
        [hidden]="true"
        id="float-input"
        type="text"
        pInputText
        required="true"
        class="p-inputtext-sm"
        formControlName="examId"
      />
      <label [hidden]="true" for="float-input">ID</label>
    </span>
  </div>
  <div class="p-input-custom">
    <span class="p-float-label">
      <input
        id="float-input"
        type="text"
        pInputText
        required="true"
        minlength="3"
        maxlength="70"
        class="p-inputtext-sm"
        formControlName="name"
      />
      <label for="float-input">Name</label>
    </span>
  </div>
  <div class="p-input-custom">
    <span class="p-float-label">
      <input
        id="float-input"
        type="text"
        pInputText
        required="true"
        minlength="3"
        maxlength="70"
        class="p-inputtext-sm"
        formControlName="description"
      />
      <label for="float-input">Description</label>
    </span>
  </div>
  <div class="p-input-custom">
    <button
      pButton
      pRipple
      type="submit"
      label="Accept"
      [disabled]="frmExam.invalid"
    ></button>
  </div>
  <div class="p-input-custom">
    <button
      pButton
      pRipple
      type="button"
      label="Cancel"
      routerLink="/exams"
      class="p-button-danger"
    ></button>
  </div>
</form>
